.App {
    --text-color: #fff;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header header "
        ". main aside .";
    grid-template-columns: 10px 2fr 1fr 10px;
    grid-template-rows: min-content;
    row-gap: 25px;
    column-gap: 50px;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

main h2 {
    margin-top: 40px;
}

.top_movies,
.movies_list,
.type_movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.type_movies {
    width: 100%;
    margin-bottom: 32px;
}

.type_movies button {
    all: unset;
    width: 150px;
    height: 38px;
    background-color: transparent;
    border: 3px solid var(--normal-grey);
    color: var(--normal-grey);
    text-align: center;
    cursor: pointer;
}

.type_movies button:hover {
    border-color: var(--normal-pink-two);
    color: var(--normal-pink-two);
}

.type_movies .type_selected {
    background-color: var(--normal-pink-bg);
    border-color: var(--normal-pink-two);
    color: var(--normal-pink-two);
}

aside {
    grid-area: aside;
    margin-bottom: 40px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.bag {
    background-color: var(--aside-back);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    height: 500px;
}

.bag_header {
    background-color: var(--normal-purple);
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bag_content {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 560px;
    width: 312px;
}

.no_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bag_item {
    height: 88px;
    display: grid;
    margin-bottom: 20px;
    grid-template-areas:
        "img title actions"
        "img price actions";
    align-items: center;
    grid-template-columns: 1fr 1fr 2fr;
}

.bag_item .item_img {
    width: 40px;
    height: 60px;
    grid-area: img;
    justify-self: center;
}

.item_title {
    grid-area: title;
    align-self: end;
}

.item_price {
    grid-area: price;
    align-self: start;
}

.bag_item .actions {
    grid-area: actions;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}

.bag_item .actions button {
    all: unset;
    cursor: pointer;
}

.aside_input_control {
    color: var(--normal-grey);
    padding: 16px;
}

.aside_input_control input {
    all: unset;
    width: 90%;
    background-color: var(--main-input);
    padding: 5px 10px;
}

.confirm_data {
    all: unset;
    background-color: var(--normal-pink);
    width: 240px;
    height: 56px;
    color: #fff;
    text-align: center;
    margin: 16px;
}
